---
import Newsletter from "@components/forms/Newsletter.astro";
import IndexHeader from "@components/headers/IndexHeader.astro";
import Layout from "@layouts/Layout.astro";
import { available_languages } from "@locale/utils";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (() => {
    const locales = available_languages

    return locales.map( locale => ({
        params: { locale }
    }));
}) satisfies GetStaticPaths; 

const page_seo = {
	title: "projects n1 reniii",
	description: "template",
	keywords: ["architect","template"]
}
---

<Layout {...page_seo}>

    <IndexHeader 
        pgTitle={page_seo.title}
        text={"| " + page_seo.description}
        subtext={page_seo.keywords.toLocaleString()}
        center_text={true}
    />


    <main class="container mx-auto row g-3 py-4 my-4">

        <section class="row row-cols-1 row-cols-md-2 g-3">

            <div class="col">
                <h2 class="fw-bold mb-2 font-monospace">Description</h2>

                <hr class="col-8 mb-5 translate-middle-x start-25"/>

                <p class="mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Fugit cumque numquam praesentium illo itaque, eaque veniam consequuntur 
                    natus adipisci iure incidunt iste, 
                    magni exercitationem iusto? Ipsum optio corporis accusantium sapiente!
                </p>

                <ul>
                    {[1,2,3,4].map( item => <li>
                        Fatus adipisci iure incidunt iste, 
                    </li>)}
                </ul>

            </div>


            <div class="col">
                <h4>Illustrations</h4>

                <div class="row row-cols-2">
                    <img src="/public/pages/plan-1.jpg" />
                    <img src="/public/pages/house5.png" />
                    <img src="/public/pages/house3.png" />
                    <img src="/public/pages/plan-1.jpg" />
                </div>

            </div>

        </section>

        <ul class="row justify-content-evenly list-unstyled my-5 g-4">

            <li class="col-auto text-muted">
                <h4>Client</h4>
                company
            </li>

            <li class="col-auto text-muted">
                <h4>Type / Tag</h4>
                Constuction / Design <br/> / Reinnovation
            </li>

            <li class="col-auto text-muted">
                <h4>Started</h4>
                24 FEB 2022
            </li>

            <li class="col-auto text-muted">
                <h4>Ended</h4>
                20 OCT 2022
            </li>

        </ul>


        <section>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Pariatur necessitatibus commodi maiores accusamus doloribus. 
                Accusantium obcaecati commodi exercitationem minus animi consectetur autem atque. Alias nesciunt ullam temporibus ratione aliquam non.
            </p>
        </section>

    </main>



   

</Layout>

