---


const images = [
    "house3.png",
    "house5.png",
    "house1.webp",
    "house2.png"
];

const sixe = images.length;

const randomImg  = images[ Math.floor(Math.random() * sixe )]
---
<div class="position-relative pj-card rounded-2">

    <img style="min-height: 20rem;" class="w-100" src={`/pages/${randomImg}`} alt="img"/>

    <div style="z-index: 1;" class="position-absolute top-0 start-0 h-100 w-100 text-bg-dark d-flex flex-column justify-content-center align-items-center p-3 bg-opacity-50 hide">
        
        <a href="/en/projects/showcase" class=" fw-bolder text-center lh-sm">
            <span>Project One</span> <br/> <span class="font-monospace fw-light small">Construction</span>
            
        </a>
        
    </div>
    
</div>