<section class="container-xl mx-auto py-4 my-4">


    <h3 class="fw-bolder text-center">Customers Reviews</h3>
    <p class="mb-4 col-lg-7 mx-auto">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor ducimus illum voluptatem voluptatum amet deserunt qui nesciunt doloremque numquam animi, earum voluptas eveniet repudiandae suscipit. Magnam odio ea optio voluptatum!
    </p>

    <ul class="my-3 py-3 d-flex overflow-hidden list-unstyled gap-2">
        {[1,2,3].map(item => <li style="min-width: 320px;" class="rounded-3 bg-body-tertiary p-3"> 

            <div class="lh-1 mb-3">
                <h5>Customer Name</h5>
                <small>Customer post / company </small>
            </div>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aperiam dolor ipsam perspiciatis. Vero dolores, tempore minima dolorum quisquam aperiam, 
                quis impedit natus ducimus, possimus sed nulla quos distinctio a eaque!
            </p>

        </li>)}
    </ul>
</section>

<style>
    .carousel-indicators  {
        button {
            width: 1rem;
            height: 6px;
        }

        button.active {
            width: 3rem;
        }
    }

    
</style>
