<a class="btn btn-lg rounded-circle btn-outline-secondary border-0 fs-5" href="#">
    <i class="bi bi-facebook" />
</a>

<a class="btn btn-lg rounded-circle btn-outline-secondary border-0 fs-5" href="#">
    <i class="bi bi-whatsapp" />
</a>

<a class="btn btn-lg rounded-circle btn-outline-secondary border-0 fs-5" href="#">
    <i class="bi bi-telegram" />
</a>

<a class="btn btn-lg rounded-circle btn-outline-secondary border-0 fs-5" href="#">
    <i class="bi bi-instagram" />
</a>