

<a href="/#" class="d-flex align-items-center gap-0 position-relative lh-1">
    <img height="32" width="32" src="/logo.png" />
    <div class="small fw-bold text-truncate">
        esign 
        Consult <br/>
        Architect
    </div>
</a>