

<section class="container-xl mx-auto p-1 small text-center">

   
        &copy; Design Consult architect, All rights reserved.
        <span>
          <a href="">Terms of use</a>
          <span class="vr mx-1" />
          <a href="">Privacy Policy</a>
        </span>
   

</section>