
<div>
    <h5 class="fw-bold text-uppercase">Subscribe to our newsletter</h5>
    <p>
        Get the latest news, events, articles and resources, in your inbox
    </p>
</div>

<form class="input-group mb-3" action="">
    <input type="email" class="form-control form-control" placeholder="example@mailbox.com" aria-label="Recipient’s username" aria-describedby="basic-addon2">
    <button class="input-group-text text-bg-primary" id="basic-addon2">Subscribe</button>
</form>